nav.navbar{
    background: transparent;
    border-bottom: #ffffff;
    font-family: 'Open Sans', sans-serif;

}

ul.nav a:hover { 
  color: #fff !important; 
}

.btn-social{
  color: white;
  opacity:0.9;
}
.btn-social:hover {
  color: white;
  opacity:1;
}

.btn-linkedin {
background-color:#0e76a8;
}
.btn-github{
  background-color:#000000;
}

.centered-text{
  text-align: center;
}

 .fill{
    background-color: rgba(255,158,0, 0.8); 
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

#white{
    color: white;
}
