nav.navbar{
    background: transparent;
    border-bottom: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}
.fill{
	/*background-color: #FF9E00;*/
	background-color: rgba(255,158,0, 0.8);
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

#white{
    color: white;
}