nav.navbar{
    background: transparent;
    border-bottom: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

  .fill{
    background: #FFC959;
	color: #800020;
  }

 h1{
  color: rgba(245,127,23,0.8);
 }

 ul.nav a:hover { 
  color: #fff !important; 
}

.nav.navbar-nav.navbar-right li a {
    color: white;
}

#white{
    color: white;
}

.#js{

	font-size: 500px;
}
