nav.navbar{
    background: transparent;
    border-bottom: #ffffff;
    font-family: 'Open Sans', sans-serif;
}

  .fill{
    background: #ffeb3b;
  }

 h1{
  color: rgba(245,127,23,0.8);
 }

 ul.nav a:hover { 
  color: #fff !important; 
}